<%= render partial: 'common/public_header' %>

<div id="tables" class="container">
  <% @tables.each do |table| %>
    <div class="col-md-12">
      <%= link_to table.name, select_user_path(table.id) %>
    </div>
  <% end %>
</div>
