<div id="auction" class="auction" ng-controller="AuctionCtrl" ng-init="init()">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header full-size">
      <div class="auction-title">UFE Charity Gala 2013</div>
      <div class="auction-info">
          <div>
            <span class="label">Amount raised</span>
            <span class="value">{{amountRaised | roundedCurrency}}</span>
          </div>
          <div>
            <span class="label">Time left</span>
            <span class="value">{{timer}}</span>
          </div>
        </div>
    </div>
  </nav>

  <div class="auction-items">
    <div ng-repeat="item in pageItems" class="item-container {{item.item.category_class}} col-md">

      <div class="item-image col-md">
        <div class="item-image-cell col-md">
      		<img ng-src="{{item.item.image}}" style="max-height: 115px;max-width: 190px;vertical-align: middle;"/>
        </div>
    	</div>
      
    	<div class="item-content col-md">
        <div class="item-detail col-md">
          <span class="item-name">{{item.item.name}}</span>
        </div>

  	  	<div class="item-bid col-md">
          <div ng-show="item.bid.price" class="col-md item-user">{{item.user.title}} {{item.user.first_name}} {{item.user.last_name}}</div>
          <div ng-hide="item.bid.price" class="col-md item-user">Start price</div>
  		  	<div class="col-md item-price">
            <span ng-show="item.bid.price">{{item.bid.price | roundedCurrency}}</span>
            <span ng-hide="item.bid.price">{{item.item.start_price | roundedCurrency}}</span>
          </div>
  		  </div>

        <div class="item-code">{{item.item.code}}</div>
    	</div>
    </div>
  </div>
</div>
