<h1>New bid</h1>

<%= link_to admin_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-home">Administration</i>
<% end %>

<br/>

<%= link_to bids_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-chevron-left">Manage Bids</i>
<% end %>

<%= render 'form' %>
