<h1>Editing user_group</h1>

<%= link_to admin_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-home">Administration</i>
<% end %>
<br/>
<%= link_to user_groups_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Manage Tables</i>
<% end %>

<%= render 'form' %>
