<%= render partial: 'common/bidding_header', locals: {back_link: user_groups_path} %>

<div id="tables" class="container">
  <% @user_groups.each do |user_group| %>
    <div class="col-md-12">
      <%= link_to user_group.name, user_group_users_path(user_group_id: user_group.id) %>
    </div>
  <% end %>
</div>
