<%= render partial: 'common/public_header' %>

<div id="users" class="list container">
  <% @users.each do |user| %>
    <div class="col-md-12 list-item">
      <%= link_to "#{user.title} #{user.first_name} #{user.last_name}", user_pin_path(user.id) %>
    </div>
  <% end %>
</div>
