<%= render partial: 'common/public_header' %>

<div id="authenticate" class="container">
  <% if flash[:message] %>
  	<div class="col-md-12 error"><%= flash[:message] %></div>
  <% end %>
  <div class="col-md-12"><%= "#{@user.title} #{@user.first_name} #{@user.last_name}" %></div>
  <div class="col-md-12">
    <div class="row">
      <%= form_tag do %>
        <div class="col-md-6"><input type="number" name="pin"></input></div>
        <div class="col-md-6"><input type="submit" class="btn btn-default" value="Submit"></input></div>
      <% end %>
    </div>
  </div>
</div>
