<h1>Editing preference</h1>

<%= link_to admin_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-home">Administration</i>
<% end %>
<br/>
<%= link_to preferences_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-list-alt">Manage Preferences</i>
<% end %>

<%= render 'form' %>
