<%= render partial: 'common/public_header' %>

<div id="user-bid" class="container" ng-controller="UserBidsCtrl" ng-init="init()">
  
  <div ng-hide="bidding">
    <div class="row" ng-show="message != ''">
      <div class="col-md-12 alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{message}}
      </div>
    </div>

    <div ng-repeat="item in items" class="row">
      <div class="col-md-12 bid-item {{item.status}}">
        <a class="user-bid-link" href="#" ng-click="createBid(item)">
        	<span class="item-code">{{item.item.code}}</span>
        	<span class="item-name">{{item.item.name}}</span>
        	<span class="item-price">{{item.price | roundedCurrency}}</span>
          <span class="item-status glyphicon {{icon(item)}}">&nbsp;</span>
        </a>
      </div>
    </div>
  </div>

  <div ng-show="bidding">
    <div class="row">
      <div class="col-md-12 item-bid">
        <span class="item-bid-code">{{biddingItem.code}}</span>
        <span class="item-bid-name">- {{biddingItem.name}}</span>
      </div>
    </div>
    
    <div class="bid-amount">
      <div class="row">
        <div class="col-md-12">
          <div class="bid-price">Bid price: {{biddingPrice | roundedCurrency}}</div>
        </div>
        <div ng-show="status == 'start-price'" class="col-md-12 sub-price">
          <div class="bid-current-price">Start price: {{currentPrice | roundedCurrency}}</div>
        </div>
        <div ng-hide="status == 'start-price'" class="col-md-12 sub-price">
          <div class="bid-current-price">Current price: {{currentPrice | roundedCurrency}}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 bid-actions">
          <button class="btn btn-default" type="submit" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span><span class="btn-bid">Reset</span>
          </button>
          <button class="btn btn-default" type="submit" ng-click="add(<%= @item.bid_increment %>)">
            <span class="glyphicon glyphicon-plus"></span><span class="btn-bid">$<%= @item.bid_increment %></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row" ng-show="error != ''">
      <div class="col-md-12 alert alert-danger">{{error}}</div>
    </div>

    <div class="row"><div class="col-md-12">&nbsp;</div></div>

    <div class="row">
      <div class="col-md-12 bid-actions">
        <button class="btn btn-primary btn-lg btn-warning" type="submit" ng-click="cancelBid()">
          <span class="glyphicon glyphicon-remove"></span>Cancel
        </button>
        <button class="btn btn-primary btn-lg btn-success" type="submit" ng-click="placeBid()">
          <span class="glyphicon glyphicon-usd"></span>Place Bid
        </button>
      </div>
    </div>
  </div>

</div>
