<%= render partial: 'common/public_header' %>

<div class="container">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item start-price">
 				<div class="item-status-description">Start price</div>
 				<div class="item-status glyphicon glyphicon-unchecked">&nbsp;</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item none">
 				<div class="item-status-description">Current bid</div>
 				<div class="item-status glyphicon glyphicon-usd">&nbsp;</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item owner">
 				<div class="item-status-description">Your Bid is the highest</div>
 				<div class="item-status glyphicon glyphicon-thumbs-up">&nbsp;</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item outbidded">
 				<div class="item-status-description">Outbidded</div>
 				<div class="item-status glyphicon glyphicon-upload">&nbsp;</div>
 			</div>
 		</div>
 	</div>
</div>