<%= render partial: 'common/public_header' %>

<div class="container">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item start-price">
        <div class="item-status glyphicon glyphicon-unchecked">&nbsp;</div>
 				<div class="item-status-name">Start price</div>
        <div class="item-status-description">No bid has been placed yet</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item none">
        <div class="item-status glyphicon glyphicon-usd">&nbsp;</div>
 				<div class="item-status-name">Current bid</div>
        <div class="item-status-description">Bids have been placed</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item owner">
        <div class="item-status glyphicon glyphicon-thumbs-up">&nbsp;</div>
 				<div class="item-status-name">Your Bid is the highest</div>
        <div class="item-status-description">You currently own the highest bid</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col-md-12">
 			<div class="legend-item outbidded">
        <div class="item-status glyphicon glyphicon-upload">&nbsp;</div>
 				<div class="item-status-name">Outbid</div>
        <div class="item-status-description">You have been outbid, bid at a higher price!</div>
 			</div>
 		</div>
 	</div>
</div>