<%= render partial: 'common/host_header', locals: {back_link: select_user_path(table_id: @user.user_group.id)} %>

<div id="items" class="container list">
  <div class="row header-row">
    <div class="col-md-12">
      <h3>Place a bid - Select prize</h3>
    </div>
  </div>

  <% @items.each_with_index do |item, index| %>
    <div class="col-md-12 list-item mask<%= index%8 + 1 %>">
      <%= link_to select_amount_path(user_id: params[:user_id], item_id: item.id) do %>
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <%= "#{item.code} - #{item.name}" %>
      <% end %>
    </div>
  <% end %>
</div>
