<%= render partial: 'common/bidding_header', locals: {back_link: table_users_path(table_id: @user.user_group.id)} %>

<div id="items" class="container ipad-list">
  <% @items.each do |item| %>
    <div class="col-md-12">
      <%= link_to "#{item.code} - #{item.name}", user_item_path(user_id: params[:user_id], id: item.id) %>
    </div>
  <% end %>
</div>
