/* TESTING BOOTSTRAP CONTAINERS */

[class*="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  padding-bottom: 15px;
  padding-top: 15px;
}

/* Auction interface */

.item-container {
  padding: 5px !important;
  height: 200px;
  position: relative;
}

#auction .item-code {
  font-weight: bold;
  font-size: 1.1em;
}

#auction .item-name {
  font-weight: bold;
}

#auction .item-image {
  overflow: hidden;
	padding: 0px !important;
  height: 100%;
}

#auction .item-content {
  height: 100%;
  padding: 0px !important;
}

#auction .item-bid {
  height: 70px;
  position: absolute !important;
  bottom: 0;
}

#auction .bid-price {
  text-align: center;
}

span#amount-raised {
  display: inline-block;
  width: 200px;
  font-size: 1.2em;
}

span#time-left {
  display: inline-block;
  width: 200px;
  font-size: 1.2em;
}

/* iPad interface */

#tables div {
  padding: 3px;
}

#tables div a {
  display: block;
  padding: 10px;
}

div#bidding-header {
  width: 100%;
  padding: 4px;
}

div#bidding-header div {
  padding: 10px;
}

a.start, a.back {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

span.header-title {
  display: block;
  text-align: center;
}

/* Mobile interface */

span.public-header-title {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

#public-header a.back {
  display: inline-block;
  margin-right: 10px;
}

#user-bid div.none {
  background-color: rgba(86, 86, 86, 0.15);
  border: 1px solid rgba(86, 86, 86, 0.2);
}

#user-bid div.owner {
  background-color: rgba(86, 124, 61, 0.15);
  border: 1px solid rgba(86, 124, 61, 0.2);
}

#user-bid div.outbidded {
  background-color: rgba(124, 86, 61, 0.15);
  border: 1px solid rgba(124, 86, 61, 0.2);
}

#user-bid div.start-price {
  background-color: rgba(61, 86, 124, 0.15);
  border: 1px solid rgba(61, 86, 124, 0.2);
}

div.bid-actions {
  text-align: center;
}

div.error {
  text-align: center;
  border: 1px solid rgba(182, 86, 64, 0.2);
  background-color: 1px solid rgba(182, 86, 64, 0.3);
}

#public-header .username {
  font-weight: bold;
}

#user-bid div.bid-item {
  padding: 2px;
}

a.user-bid-link {
  display: inline-block;
  width: 100%;
  padding: 8px;
}

#user-bid span.item-code {
  font-weight: bold;
}

#user-bid span.item-price {
  font-weight: bold;
  font-size: 1.1em;
  float: right;
}

#user-bid span.item-bid {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
}

#user-bid span.bid-price {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}