/* TESTING BOOTSTRAP CONTAINERS */

[class*="col-"] {
  border: 1px solid rgba(86, 61, 124, 0.2);
}

a {
  text-decoration: none;
  display: block;
}

a:hover, a:focus {
  text-decoration: none;
}

/* Auction interface */

#auction .header {
  height: 100px; 
}

#auction .auction-items {
  min-height: 960px;
  clear: both;
}

#auction .item-container {
  padding: 5px !important;
  height: 200px;
  position: relative;
}

#auction .experiences {
  background-color: #F8F0CE;
}

#auction .electronics {
  background-color: #E3F8CE;
}

#auction .cat1 {
  background-color: #CEF8D5;
}

#auction .cat2 {
  background-color: #CEF8F0;
}

#auction .cat3 {
  background-color: #CEE3F8;
}

#auction .cat4 {
  background-color: #D5CEF8;
}

#auction .cat5 {
  background-color: #F0CEF8;
}

#auction .cat6 {
  background-color: #F8D5CE;
}

#auction .item-code {
  font-weight: bold;
  font-size: 1.5em;
}

#auction .item-name {
  font-weight: bold;
}

#auction .item-image {
  overflow: hidden;
	padding: 0px !important;
  height: 100%;
}

#auction .item-content {
  height: 100%;
  padding: 0px !important;
}

#auction .item-bid {
  height: 70px;
  position: absolute !important;
  bottom: 0;
}

#auction .bid-price {
  text-align: center;
}

span#amount-raised {
  display: inline-block;
  width: 200px;
  font-size: 1.2em;
}

span#time-left {
  display: inline-block;
  width: 200px;
  font-size: 1.2em;
}

/* iPad interface */

div.ipad-list div {
  padding: 3px;
}

div.ipad-list div a {
  padding: 10px;
  font-weight: bold;
}

div#bidding-header {
  width: 100%;
  padding: 4px;
}

div#bidding-header div {
  padding: 10px;
}

a.start, a.back {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

span.header-title {
  display: block;
  text-align: center;
}

/* Mobile interface */

span.public-header-title {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

#public-header a.back {
  display: inline-block;
  margin-right: 10px;
}

#user-bid a {
  color: white;
}

#user-bid div.none {
  background-color: #44B3CB;
}

#user-bid div.owner {
  background-color: #98AF3B;
}

#user-bid div.outbidded {
  background-color: #E9AB3D;
}

#user-bid div.start-price {
  background-color: #44B3CB;
}

div.bid-actions {
  text-align: center;
}

div.alert-danger {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#public-header .username {
  font-weight: bold;
}

#user-bid div.bid-item {
  padding: 2px;
}

a.user-bid-link {
  display: inline-block;
  width: 100%;
  padding: 8px;
}

#user-bid span.item-code {
  font-weight: bold;
}

#user-bid span.item-price {
  font-weight: bold;
  font-size: 1.1em;
  float: right;
}

#user-bid span.item-bid {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
}

#user-bid span.bid-price {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}