/* TESTING BOOTSTRAP CONTAINERS */

[class*="col-"] {
  border: 1px solid rgba(86, 61, 124, 0.2);
}

a {
  text-decoration: none;
  display: block;
}

a:hover, a:focus {
  text-decoration: none;
}

/* Auction interface */

#auction .header {
  height: 80px; 
}

#auction .header img.logo{
  max-height: 78px;
  vertical-align: top;
}

#auction .header .auction-title {
  width: 60%;
  height: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 80px;
}

#auction .header .auction-info {
  width: 40%;
  height: 100%;
  float: left;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.2em;
}

#auction .header .auction-info div {
  display: block;
}

#auction .header .auction-info span {
  display: inline-block;
}

#auction .header .auction-info .label {
  width: 40%;
  font-size: 1.0em;
  color: #333333;
}

#auction .header .auction-info .value {
  width: 50%;
  font-size: 1.2em;
  color: #333333;
}

#auction .auction-items {
  min-height: 960px;
  clear: both;
}

#auction .experiences {
  background-color: #F8F0CE;
}

#auction .electronics {
  background-color: #E3F8CE;
}

#auction .cat1 {
  background-color: #CEF8D5;
}

#auction .cat2 {
  background-color: #CEF8F0;
}

#auction .cat3 {
  background-color: #CEE3F8;
}

#auction .cat4 {
  background-color: #D5CEF8;
}

#auction .cat5 {
  background-color: #F0CEF8;
}

#auction .cat6 {
  background-color: #F8D5CE;
}

#auction .item-container {
  padding: 5px !important;
  width: 50%;
  height: 160px;
  position: relative;
  float: left;
}

#auction .item-detail {
  line-height: 60px;
}

#auction .item-bid {
  line-height: 40px;
}

#auction .item-price {
  width: 40%;
  float: left;
}

#auction .item-user {
  width: 60%;
  float: left;
}

#auction .item-code {
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  width: 18%;
}

#auction .item-name {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  width: 80%;
  text-align: center;
}

#auction .item-image {
  overflow: hidden;
	padding: 0px !important;
  height: 100%;
  width: 30%;
  float: left;
}

#auction .item-content {
  height: 100%;
  width: 70%;
  float: left;
  padding: 0px !important;
}

#auction .item-bid {
  height: 70px;
  width: 100%;
  float: left;
  bottom: 0;
}

#auction .bid-price {
  text-align: center;
}

/* iPad interface */

div.ipad-list div {
  padding: 3px;
}

div.ipad-list div a {
  padding: 10px;
  font-weight: bold;
}

div#bidding-header {
  width: 100%;
  padding: 4px;
}

div#bidding-header div {
  padding: 10px;
}

a.start, a.back {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

span.header-title {
  display: block;
  text-align: center;
}

#authenticate .username {
  padding: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

#authenticate .pin {
  padding: 15px;
}

#bid {
  text-align: center;
}

#bid .bid-user {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 30px;
}

#bid .bid-item {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 30px;
}

#bid .bid-price {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 35px;
}

/* Mobile interface */

span.public-header-title {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px;
}

#public-header {
}

#public-header a.back {
  display: inline-block;
  margin-right: 10px;
}

.list .list-item a {
  padding: 10px;
  display: block;
}

#user-bid a {
  color: white;
}

#user-bid div.none {
  background-color: #44B3CB;
}

#user-bid div.owner {
  background-color: #98AF3B;
}

#user-bid div.outbidded {
  background-color: #E9AB3D;
}

#user-bid div.start-price {
  background-color: #44B3CB;
}

div.bid-actions {
  text-align: center;
}

div.alert-danger {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#public-header .username {
  font-weight: bold;
}

#user-bid div.bid-item {
  padding: 2px;
}

a.user-bid-link {
  display: inline-block;
  width: 100%;
  padding: 8px;
}

#user-bid span.item-code {
  font-weight: bold;
}

#user-bid span.item-price {
  font-weight: bold;
  font-size: 1.1em;
  float: right;
}

#user-bid .item-bid {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  line-height: 40px;
}

#user-bid .item-bid-code {
  font-size:1.2em;
}

#user-bid .item-bid-name {
  font-size:1.1em;
}

#user-bid .bid-price {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 40px;
}