/* TESTING BOOTSTRAP CONTAINERS */

// [class*="col-"] {
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

body.mobile {
  background-image: image-url("background.jpg");
  background-position: top center;
  color: #B86D6D;
}

a {
  text-decoration: none;
  display: block;
}

a:hover, a:focus {
  text-decoration: none;
}

/* Auction interface */

#auction .header {
  height: 80px; 
}

#auction .header img.logo{
  max-height: 78px;
  vertical-align: top;
}

#auction .header .auction-title {
  width: 60%;
  height: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 80px;
}

#auction .header .auction-info {
  width: 40%;
  height: 100%;
  float: left;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.2em;
}

#auction .header .auction-info div {
  display: block;
}

#auction .header .auction-info span {
  display: inline-block;
}

#auction .header .auction-info .label {
  width: 40%;
  font-size: 1.0em;
  color: #333333;
}

#auction .header .auction-info .value {
  width: 50%;
  font-size: 1.2em;
  color: #333333;
}

#auction .auction-items {
  min-height: 960px;
  clear: both;
}

#auction .experience {
  background-color: #F8F0CE;
}

#auction .electricals {
  background-color: #E3F8CE;
}

#auction .spiritswines {
  background-color: #CEF8D5;
}

#auction .personalfamily {
  background-color: #CEF8F0;
}

#auction .art {
  background-color: #CEE3F8;
}

#auction .cat4 {
  background-color: #D5CEF8;
}

#auction .cat5 {
  background-color: #F0CEF8;
}

#auction .cat6 {
  background-color: #F8D5CE;
}

#auction .item-container {
  padding: 5px !important;
  width: 50%;
  height: 160px;
  position: relative;
  float: left;
}

#auction .item-detail {
  line-height: 60px;
}

#auction .item-bid {
  line-height: 40px;
}

#auction .item-price {
  width: 40%;
  float: left;
}

#auction .item-user {
  width: 60%;
  float: left;
}

#auction .item-code {
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#auction .item-name {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  width: 83%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#auction .item-image {
  overflow: hidden;
	padding: 0px !important;
  height: 100%;
  width: 30%;
  float: left;
}

#auction .item-content {
  height: 100%;
  width: 70%;
  float: left;
  padding: 0px !important;
}

#auction .item-bid {
  height: 70px;
  width: 100%;
  float: left;
  bottom: 0;
}

#auction .bid-price {
  text-align: center;
}

/* iPad interface */

div.ipad-list div {
  padding: 3px;
}

div.ipad-list div a {
  padding: 10px;
  font-weight: bold;
}

div#bidding-header {
  width: 100%;
  padding: 4px;
}

div#bidding-header div {
  padding: 10px;
}

a.start, a.back {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.host-username {
  font-size: 0.6em;
  font-weight: normal;
  margin-right: 10px;
}

span.header-title {
  display: block;
  text-align: center;
}

#authenticate .username {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

#authenticate .pin {
  padding: 15px;
}

#bid {
  text-align: center;
}

#bid .bid-user {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 30px;
}

#bid .bid-item {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 30px;
}

#bid .bid-price {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 35px;
}

/* Mobile interface */

.btn-primary {
    // background: linear-gradient(135deg, #961E20 0%, #CA5A5C 62%, rgba(207, 96, 98, 0.7) 68%, rgba(234, 126, 128, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #961E20;
    border-color: #303030;
    color: #F0C1C1;
}

div.mobile-header {
  line-height: 70px;
  border-bottom: 1px solid #A0A0A0;
}

div.public-header-title {
  background-image: image-url("ufe_logo.png");
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

.public-header-title .title {
  margin-left: 5px;
  margin-right: 60px;
  text-align: center;
}

.mobile-header a.back {
  margin-top: 10px;
}

.list .list-item {
  background-position: left center;
  background-repeat: no-repeat;
  line-height: 64px;
  border-bottom: 1px solid #707070;
}

.list .list-item a {
  display: block;
  padding-left: 80px;
  color: #CAADAD;
  font-size: 1.4em;
}

.mask1 {
  background-image: image-url("mask1.png");
}

.mask2 {
  background-image: image-url("mask2.png");
}

.mask3 {
  background-image: image-url("mask3.png");
}

.mask4 {
  background-image: image-url("mask4.png");
}

.mask5 {
  background-image: image-url("mask5.png");
}

.mask6 {
  background-image: image-url("mask6.png");
}

.mask7 {
  background-image: image-url("mask7.png");
}

.mask8 {
  background-image: image-url("mask8.png");
}

#user-bid {
  margin-top: 10px;
}

#user-bid a {
  color: white;
}

#user-bid div.none {
  background-color: #44B3CB;
}

#user-bid div.owner {
  background-color: #98AF3B;
}

#user-bid div.outbidded {
  background-color: #E9AB3D;
}

#user-bid div.start-price {
  background-color: #44B3CB;
}

div.bid-amount {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

div.bid-actions {
  text-align: center;
}

.btn-bid {
  font-weight: bold;
  font-size: 1.2em;
}

div.alert-danger {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#user-bid div.bid-item {
  font-size: 1.2em;
  padding: 0px;
  border-bottom: 1px solid #303030;
}

#user-bid div.bid-item span {
  display: inline-block;
}

a.user-bid-link {
  display: inline-block;
  width: 100%;
  padding: 10px 5px;
}

#user-bid span.item-code {
  font-weight: bold;
  float: left;
  width: 10%;
}

#user-bid span.item-name {
  float: left;
  width: 72.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-bid span.item-price {
  font-weight: bold;
  font-size: 1.1em;
  float: right;
}

#user-bid .item-bid {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-bid .item-bid-code {
  font-size: 1.2em;
}

#user-bid .item-bid-name {
  font-size: 1.1em;
}

#user-bid .bid-price {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 40px;
}