/* TESTING BOOTSTRAP CONTAINERS */

body.mobile {
  background-image: image-url("background.jpg");
  background-position: top center;
  color: #B86D6D;
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
}

a:hover, a:focus {
  text-decoration: none;
}

/* Auction interface */

#auction .header {
  height: 80px; 
}

#auction .header img.logo{
  max-height: 78px;
  vertical-align: top;
}

#auction .header .auction-title {
  width: 60%;
  height: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 80px;
}

#auction .header .auction-info {
  width: 40%;
  height: 100%;
  float: left;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.2em;
}

#auction .header .auction-info div {
  display: block;
}

#auction .header .auction-info span {
  display: inline-block;
}

#auction .header .auction-info .label {
  width: 40%;
  font-size: 1.0em;
  color: #333333;
}

#auction .header .auction-info .value {
  width: 50%;
  font-size: 1.2em;
  color: #333333;
}

#auction .auction-items {
  min-height: 960px;
  clear: both;
}

#auction .experience {
  background-color: #F8F0CE;
}

#auction .electricals {
  background-color: #E3F8CE;
}

#auction .spiritswines {
  background-color: #CEF8D5;
}

#auction .personalfamily {
  background-color: #CEF8F0;
}

#auction .art {
  background-color: #CEE3F8;
}

#auction .cat4 {
  background-color: #D5CEF8;
}

#auction .cat5 {
  background-color: #F0CEF8;
}

#auction .cat6 {
  background-color: #F8D5CE;
}

#auction .item-container {
  padding: 5px !important;
  width: 50%;
  height: 160px;
  position: relative;
  float: left;
}

#auction .item-detail {
  line-height: 60px;
}

#auction .item-bid {
  line-height: 40px;
}

#auction .item-price {
  width: 40%;
  float: left;
}

#auction .item-user {
  width: 60%;
  float: left;
}

#auction .item-code {
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#auction .item-name {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  width: 83%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#auction .item-image {
  overflow: hidden;
	padding: 0px !important;
  height: 100%;
  width: 30%;
  float: left;
}

#auction .item-content {
  height: 100%;
  width: 70%;
  float: left;
  padding: 0px !important;
}

#auction .item-bid {
  height: 70px;
  width: 100%;
  float: left;
  bottom: 0;
}

#auction .bid-price {
  text-align: center;
}

/* iPad interface */

div.ipad-list div {
  padding: 3px;
}

div.ipad-list div a {
  padding: 10px;
  font-weight: bold;
}

div#bidding-header {
  width: 100%;
  padding: 4px;
}

div#bidding-header div {
  padding: 10px;
}

#navbar-collapse .username {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
}

#navbar-collapse .back-item {
  width: 200px;
}

span.header-title {
  display: block;
  text-align: center;
}

#authenticate .username {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

#authenticate .pin {
  padding: 15px;
}

#bid {
  text-align: center;
}

#bid .bid-user {
  border-bottom: 1px solid #707070;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#bid .bid-item {
  border-bottom: 1px solid #707070;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#bid .bid-price {
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#bid .current-price {
  font-size: 1.4em;
  color: #C88D8D;
  border: 1px solid #707070;
  padding: 3px 7px;
}

#bid .sub-price {
  padding-top: 0px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-style: italic;
}

#bid .name {
  font-size: 0.8em;
  color: #B89D9D;
}

#bid .value {
  color: #C88D8D;
}

/* Mobile interface */

.btn-primary {
    background-color: #961E20;
    border-color: #303030;
    color: #F0C1C1;
}

.navbar-header {
  background-image: image-url("ufe_logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 75px;
}

.navbar-header .title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 50px;
  padding: 0px 5px;
  color: #A43030;
}

.navbar-nav .divider {
  background-color: #E5E5E5;
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
}

.navbar-nav {
  font-size: 1.2em;
}

.navbar-nav > li > span {
    line-height: 30px;
    padding-left: 15px;
    color: #A43030;
}

.navbar-default .navbar-nav > li > a {
    color: #A43030;
}

div.mobile-header {
  line-height: 70px;
  border-bottom: 1px solid #A0A0A0;
}

div.public-header-title {
  background-image: image-url("ufe_logo.png");
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

.public-header-title .title {
  margin-left: 5px;
  margin-right: 60px;
  text-align: center;
}

.mobile-header a.back {
  margin-top: 10px;
}

.list .list-item {
  background-position: left center;
  background-repeat: no-repeat;
  line-height: 64px;
  border-bottom: 1px solid #707070;
}

.list .list-item a {
  display: block;
  padding-left: 80px;
  color: #CAADAD;
  font-size: 1.4em;
}

.mask1 {
  background-image: image-url("mask1.png");
}

.mask2 {
  background-image: image-url("mask2.png");
}

.mask3 {
  background-image: image-url("mask3.png");
}

.mask4 {
  background-image: image-url("mask4.png");
}

.mask5 {
  background-image: image-url("mask5.png");
}

.mask6 {
  background-image: image-url("mask6.png");
}

.mask7 {
  background-image: image-url("mask7.png");
}

.mask8 {
  background-image: image-url("mask8.png");
}

#user-bid {
  margin-top: 10px;
}

div.bid-amount {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

div.bid-actions {
  text-align: center;
}

.btn-bid {
  font-weight: bold;
  font-size: 1.2em;
}

div.alert-danger {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#user-bid div.bid-item {
  font-size: 1.2em;
  padding: 0px;
  border-bottom: 1px solid #303030;
}

#user-bid div.bid-item span {
  display: inline-block;
}

a.user-bid-link span{
  display: inline-block;
  width: 100%;
  line-height: 60px;
  color: #B86D6D;
}

a.user-bid-link:hover, a.user-bid-link:focus {
  color: #D89D9D;
}

#user-bid .item-code {
  font-weight: bold;
  font-size: 1.1em;
  float: left;
  width: 10%;
}

#user-bid .item-name {
  float: left;
  width: 67%;
  font-size: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-bid .item-price {
  float: left;
  width: 15%;
  font-weight: bold;
  font-size: 1.1em;
  color: #D88D8D;
}

#user-bid .item-status {
  float: right;
  width: 8%;
  font-size: 1.3em;
  margin-top: -2px;
}

.none .item-status {
  color: #44B3CB;
}

.owner .item-status {
  color: #98AF3B;
}

.outbidded .item-status {
  color: #E9AB3D;
}

.start-price .item-status {
  color: #44B3CB;
}

#user-bid .item-bid {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-bid .item-bid-code {
  font-size: 1.2em;
}

#user-bid .item-bid-name {
  font-size: 1.1em;
}

#user-bid .bid-price {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 40px;
}

#user-bid .sub-price {
  padding-top: 0px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-style: italic;
}

#user-bid .bid-current-price {
  text-align: center;
  font-weight: bold;
  font-size: 1.0em;
  line-height: 40px;
}

.admin-header {
  text-align: right;
  background-color: #F0F0FF;
  line-height: 40px;
}

.user-card {
  border: 1px solid #303030;
  width: 332px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 10px;
}

.user-card .card-top {
  width: 100%;
  height: 108px;
  clear: both;
}

.user-card .ufe-logo {
  background-position: center center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  float: left;
  padding-top: 20px;
  padding-left: 5px;
}

.user-card .card-detail {
  float: left;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 240px;
}

.user-card .card-detail .card-header {
  font-size: 1.4em;
  text-align: center;
}

.user-card .card-detail .username {
  font-size: 1.2em;
}

.user-card .card-detail .user-pin {
  border: 1px solid #A0A0A0;
  font-size: 1.1em;
  text-align: center;
  margin-top: 5px;
  color: #707070;
}

.user-card .card-detail .table-name {
  font-size: 1.0em;
}

.user-card .card-footer {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

#mobile-items .item-container {
  border: 1px solid #A0A0A0;
  margin-top: 10px;
  padding-top: 10px;
  float: left;
  width: 100%;
}

#mobile-items .item-image {
  width: 35%;
  height: 100px;
  float: left;
}

#mobile-items .item-image img {
  max-width: 100px;
  max-height: 100px;
}

#mobile-items .item-details {
  width: 65%;
  height: 100px;
  float: left;
}

#mobile-items .item-code {
  font-weight: bold;
  font-size: 1.4em;
}

#mobile-items .item-name {
  font-weight: bold;
  font-size: 1.2em;
}

#mobile-items .item-description {
  min-height: 100px;
  font-size: 1.0em;
  padding-bottom: 5px;
  border-bottom: 1px solid #A86D6D;
}

#mobile-items .item-sponsor {
  width: 65%;
  height: 70px;
  float: left;
}

#mobile-items .item-by {
  margin-left: 10px;
}

#mobile-items .item-by .courtesy {
  font-style: italic;
  font-size: 1.0em;
}

#mobile-items .item-by .by {
  font-style: italic;
  font-size: 1.1em;
}

#mobile-items .item-start-price {
  font-style: italic;
  font-size: 1.0em;
  margin-left: 10px;
}

#mobile-items .item-start-price .opening {
  font-style: italic;
  font-size: 1.0em;
}

#mobile-items .item-start-price .price {
  font-style: italic;
  font-size: 1.2em;
}

#mobile-items .item-sponsor-logo {
  width: 35%;
  height: 70px;
  float: left;
  text-align: right;
}

#mobile-items .item-sponsor-logo img {
  max-width: 150px;
  max-height: 70px;
}

.legend-item {
  border-bottom: 1px solid #707070;
  clear: both;
  float: left;
  font-size: 1.2em;
  line-height: 30px;
  padding-bottom: 10px;
  width: 100%;
}


.legend-item .item-status {
  float: left;
  width: 10%;
  height: 40px;
  line-height: 40px;
}

.legend-item .item-status-name {
  float: left;
  width: 90%;
  height: 20px;
}

.legend-item .item-status-description {
  float: left;
  width: 90%;
  height: 20px;
  font-size: 0.8em;
}