<div class="container mobile-header">
  <div class="row">
    <div class="col-md-12">
      <div class="public-header-title">
        <%= defined?(title) ? title : '&nbsp;'.html_safe %>
        <%= link_to authenticate_select_table_path, html_options = {class: "back btn btn-primary pull-left"} do %>
          <i class="glyphicon glyphicon-chevron-left">Back</i>
        <% end %>
      </div>
    </div>
  </div>
</div>