<div class="container mobile-header">
  <div class="row">
    <div class="col-md-12 public-header-title">
      <%= link_to(destroy_user_session_path, :class => 'back btn btn-primary btn-lg pull-left') do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
      <div class="title"><%= "#{current_user.title} #{current_user.first_name} #{current_user.last_name}" %></div>
    </div>
  </div>
</div>