<div class="container mobile-header">
  <div class="row">
    <div class="col-md-12">
      <div class="public-header-title">
        <span class="username"><%= "#{current_user.title} #{current_user.first_name} #{current_user.last_name}" %></span>
        <%= link_to(destroy_user_session_path, :class => 'btn btn-primary pull-right back') do %>
          <span class="glyphicon glyphicon-remove">Logout</span>
        <% end %>
      </div>
    </div>
  </div>
</div>